:root {
    --van-search-background-color: transparent;
    --van-search-content-background-color: #F7F8FA;
    --van-search-action-text-color: #C8C9CC;
    --van-search-left-icon-color: #AC97AF;

    --van-background-color: #F7F8FA;

    --van-gradient-PurpleRed: linear-gradient(to right, #E7E6F4, #F7E3EE);
    --van-Icon-color: black;
    --van-text-color: black;
    --van-text-derection-color: #969799;
    --van-border-bottom-color: rgba(226, 232, 240, 1);

    --van-card-bg: white;
}